body {
  background-color:#FCEEDE;
}
hr {
  border-style: dotted none none;
  width: 25%;
  border-width: 3px;
  border-color: #F4CB81;
}

h1 {
color: #4E1E1E;

}

h3 {
  font: 1.2em "Fira Sans", sans-serif;
color: #4E1E1E;

}
